<div class="loading" ng-show="!loaded">
    Loading.....
    <span class="ball1"></span>
    <span class="ball2"></span>
</div>
<div ng-show="loaded" class="container">

<div class="row">
  <div id="small-img" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center">
    <ul class="flr-list">
      <li 
        class="flr-list-element flr-margin-bottom-large"
        ng-repeat="item in list.items track by $index">
            <img
                ng-src="{{item.media.m}}" 
                class="flr-img"
                alt="{{item.title}}"
                ng-click=selectImage(item)
                ng-class = "{'flr-selected' : item.selected}"
             />
      </li>
      
    </ul>
  </div>
</div>
    
</div>